.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 20%;
}

.right {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.amount-input {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
