.column {
  float: left;
  padding: 10px;
  height: 120px;
}

.left {
  width: 20%;
}

.right {
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.amount-input {
  width: 96%;
}
.convert-button{
  width: 100%;
  color: white;
  background: #1976d2;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
